.profileChange_box{
    background-color: #004236;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userProfile_photo img{
    width: 90px;
    border-radius: 50%;
}
.userProfile_name{
    position: relative;
    bottom: 30px;
    left: 30px;
    font-size: 20px;
    color: white;
}
.userProfile_email{
    position: relative;
    bottom: 3px;
    right: 25px;
    font-size: 17px;
    color: white;
}
.profileChange_box .userProfile_logout{
    position: relative;
    background-color: #3a857e;
    border: 0;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    color: white;
    top: 40px;
    right: 205px;
}
.userProfile_change{
    position: relative;
    cursor: pointer;
    top: 40px;
    right: 320px;
    color: white;
}