section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 70%;
    justify-content:center;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > img {
    width: 5rem;
}

.content {
    display: flex;
    width: 100%;
    max-width: 70%;
}

.content > img {
    width: 600px;
    height: 500px;
}

.container {
    height: 500px;
    margin-left: 2rem;
    background-color: blueviolet;
}

.description {
    height: 20rem;
    overflow-y: scroll;
}