@value makerWhite,makerGrey,makerPink,makerLightGrey, makerDarkGreen, makerGreen from '../../Review/common/color.css';
@value fontEn from '../../Review/common/font.css';

.reviewPage {
    margin: auto;
    max-width: 80%;
    position: relative;
    text-align: center;
    background-color: makerWhite;
    margin-bottom: 5rem;
}

/*search input*/
.header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 3rem;
    align-items: center;
}


/*review list*/
.list {
    position: relative;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

