
/*인트로1단*/
.cInnerContent{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'LeferiPoint-WhiteObliqueA';
 /* background-color: #004236;*/
}
/*cInnerContent_1*/
.cInnerContent_1{
  background-color: #92af94;
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
  color: white;
}
.cInnerContent_1_left{
  align-items: center;
  margin-top: -100px;
  margin-right: 50px;
  width: 400px;
}

.intro_point {
  color: #004236;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.cInnerContent_1_left > h3{
  color: #004236;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.cInnerContent_1_left > p{
  font-size: 1rem;
  width: 35rem;
}

.sub_point {
  color: #004236;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  font-weight: bold;
}

.cInnerContent_1_right {
  margin-left: 50px;
  margin-top: 240px;
}
.cInnerContent_1_right img{
  border-radius: 25px;
  position: relative;
  left: 70px;
  max-width: 500px;
}

/*인트로 2단*/
.cInnerContent_2{
  height: 47rem;
  text-align: center;
  line-height:10px;
  border: solid #eee;
  color: #004236;
  background-color: #F8F3E8;
}
.cInnerContent_2_title{
  line-height: 50px;
  display: block;
  margin-top: 140px;
}
.cInnerContent_2_title  p{
  font-size: 20px;
  color: #004236;
  font-weight: bolder;
}
.cInnerContent_2_title h1{
  font-size: 35px;
}
.cInnerContent_2_title span{
  color: #92af94;
  font-size: 40px;
}
/*2단 아이콘 */
.cInnerContent_list svg {
  font-size: 3em;
  color: #004236;
  margin-bottom: 25px;
}
.cInnerContent_2_1{
  display:flex;
  align-items: center;
  justify-content: center;
}
.cInnerContent_list{
  margin: 2rem;
  list-style-type: none;
  position: relative;
  top: 30px;
  padding: 25px;
  max-width: 20rem;
  height: 226px;
}

.cInnerContent_2_1 h3{
  line-height: 1.6rem;
  font-size: 1.5rem;
  color: #3A857E;
  margin-bottom: 2rem;
  }

.cInnerContent_2_1 p{
line-height: 1.2rem;
}


/* 업사이클링 대해*/
.about_page{
  padding-top: 50px;
  background-color: #92af94;
  color:  #004236;
}
.about_page_title{
  font-size: 30px;
  text-align: center; 
  height: 140px;
  margin-bottom: 50px;
}
.about_page_title p{
  font-size: 28px;
}
/*first*/
.about_page_box{
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_intro_img{
  width: 400px;
  margin-right: 25px;
}
.about_intro_card{
  font-size: 22px;
}

/*second*/
.about_second_page_box{
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.about_second_intro_img{
  width: 400px;
}
.about_second_intro_card{
  font-size: 22px;
  margin-right: 25px;
}